<div class="link-card">
  <h2 class="medium-heading">
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </h2>
  <p class="xsmall-text">
    Submitted by {% include 'partials/email.liquid', email: link.email %}, on {{ link.date_created | date: '%d-%m-%Y %H:%M' }}
  </p>
  {% comment %} Dit zou ook een component kunnen zijn: {% endcomment %}
  <div class="link-card-votes">
    <h2 class="small-heading">
      Votes <sup>{{ link.votes.size }}</sup>
    </h2>
    <p class="small-text">
      Upvoted by:
    </p>
    <ul>
      {% for vote in link.votes %}
        {% include 'partials/email.liquid', email: vote.email %}
      {% endfor %}
    </ul>
  </div>
</div>