{% layout 'base.liquid' %}

{% block content %}
  <section class="homepage-header">
    <h1>{{ dummyData.homepageHeader.title }}</h1>
    <p>{{ dummyData.homepageHeader.description }}</p>

    {% include 'partials/button.liquid', href: '/meer-info', text: 'Meer info', variant: 'secondary' %}
  </section>

<section class="links">
  <ul>
    {% for link in links %}
    <li>
      {% include 'partials/link-card.liquid', link: link %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}